# 002. 정수 내림차순으로 배치하기 (PROGRAMMERS) ★

- https://school.programmers.co.kr/learn/courses/30/lessons/12933

### 문제 설명
- 함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

### 제한 사항
- n은 1이상 8000000000 이하인 자연수입니다.

### 입출력 예
|n|return|
|-|-|
|118372|873211|

## Solution 1

In [37]:
def solution(n):
    num = []
    for i in range(len(str(n))):
        num.append(str(n)[i])
    num.sort(reverse = True)
    
    s = ''
    for i in range(len(num)):
        s += num[i]
    
    return int(s)

In [38]:
solution(118372)

873211

## Solution 2 - join() 사용

In [51]:
def solution(n):
    lst = list(str(n))
    lst.sort(reverse = True)
    return int(''.join(lst))

In [52]:
solution(118372)

873211

## Solution 3 - 한 줄로 풀어보기

In [9]:
def solution(n):
    list(str(n)).sort(reverse = True)
    return int( ''.join( list(str(n)).sort(reverse = True) ) )

In [10]:
solution(118372)

TypeError: can only join an iterable

In [15]:
n = 118372
list(str(n)).sort(reverse = True)